<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="Conexion" connectionString="Data Source=L-TIC08\SQLEXPRESS;Initial Catalog=dbLaProSur;User ID=SA;Pwd=123456" providerName="System.Data.SqlClient"/>-->
	  <add name="Conexion" connectionString="Data Source=localhost;Initial Catalog=dbLaProSur;User ID=SA;Pwd=Tumbes.Peru123" providerName="System.Data.SqlClient"/>
    <add name="SIGA.Windows.Properties.Settings.SIGAConnectionString" connectionString="Data Source=192.168.0.4;Initial Catalog=SIGA;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="SIGA.Windows.Properties.Settings.SIGAConnectionString1" connectionString="Data Source=JULIO\SQLEXPRESS;Initial Catalog=SIGA;User ID=SA" providerName="System.Data.SqlClient"/>
    <add name="SIGA.Windows.Properties.Settings.SIGAConnectionString2" connectionString="Data Source=JULIO\SQLEXPRESS;Initial Catalog=SIGA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SIGA.Windows.Properties.Settings.SIGACARLOSConnectionString" connectionString="Data Source=EDUARDO-PC\MSQL2012;Initial Catalog=SIGACARLOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SIGA.Windows.Properties.Settings.SIGA_FEConnectionString" connectionString="Data Source=LAPTOP-4MV7JJB7\SQLEXPRESS;Initial Catalog=SIGA_FE;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SIGA.Windows.Properties.Settings.dbLaProSurConnectionString" connectionString="Data Source=L-TIC08\SQLEXPRESS;Initial Catalog=dbLaProSur;User ID=sa;Password=123456;Encrypt=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>

  </appSettings>
</configuration>
